#login-div{
    background-color: #e6edff;
    height: 40%;
    width: 20%;
    border-radius:15%;
    margin-bottom: 0px;
    border-bottom-left-radius:0%;
    border-bottom-right-radius:0%;
    border-style:solid;
    border-bottom-style: none;
}

body{
    background-image: url(https://img.freepik.com/premium-vector/abstract-blue-white-wave-background_41084-451.jpg?w=2000);
    background-position: center;
    background-size: cover;
}

h2{
    color:#1957ff;
    text-shadow: 3px 3px #00345f;
    font-weight: bold;
    font-size: 70px;
}

#btn-login{
    background-color:#1957ff;
    height: 10%;
    width: 20%;
    margin-top: 0px;
    border-style:double;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 30px;
    color:#ffffff;
    text-shadow: 3px 3px 5px #03009b;
    font-weight: bolder;
}

input{
    margin-bottom: 0px;
}

#quit-btn{
    float:right;
    width:10%;
    margin-left: 0px;
    padding-left: 0px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #4479aa;
padding: 10px;
float: none;
text-align: left;
}